.vs/PinballWW2_Master.slnx/FileContentIndex/10ab73f5-a6b5-47ef-84f2-ef1ddc4225f9.vsidx
.vs/PinballWW2_Master.slnx/FileContentIndex/2174b37f-cbbc-4932-92df-b42e558898b9.vsidx
.vs/PinballWW2_Master.slnx/FileContentIndex/22e2d9df-1b95-40f1-a768-25836a0df632.vsidx
.vs/PinballWW2_Master.slnx/FileContentIndex/684e2725-5979-4b5f-a354-20acdf3b370a.vsidx
.vs/PinballWW2_Master.slnx/FileContentIndex/6b514e04-8886-4e7b-9cd7-edf60fa97783.vsidx
.vs/PinballWW2_Master.slnx/v18/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/PinballWW2_Master.slnx/FileContentIndex/65249fdf-3e95-47d2-8c1e-c5b4c7341cda.vsidx
.vs/PinballWW2_Master.slnx/FileContentIndex/76a9b49f-41c5-4a94-8f91-6d703a21c920.vsidx
*.vsidx
