asciimatics==1.15.0
certifi==2025.1.31
charset-normalizer==3.4.1
docutils==0.21.2
ffpyplayer==4.5.1
idna==3.10
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
mpf==0.57.0
mpf-mc==0.57.1
mpf-monitor==0.57.1
packaging==23.2
Pillow==9.5.0
prompt-toolkit==3.0.43
psutil==5.9.8
pyfiglet==1.0.2
Pygments==2.16.1
pypiwin32==223
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyserial==3.5
pyserial-asyncio==0.6
pywin32==308
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
sortedcontainers==2.4.0
terminaltables==3.1.10
urllib3==2.3.0
wcwidth==0.2.13
