#config_version=6

mode:
    start_events: level1_Begin
    stop_events: level1_Complete
    priority: 100  #(100 - 1,000,000)
  
show_player:
    mode_level1_started: level1_display_loop

images:
    location:
        load: preload
        file: /home/wicky567/PinballWW2_Master/Machine/modes/level1/images/level1_location.png
    blip:
        load: preload
        file: /home/wicky567/PinballWW2_Master/Machine/modes/level1/images/level1_blip.png
    score:
        load: preload
        file: /home/wicky567/PinballWW2_Master/Machine/modes/level1/images/score_overlay.png

videos:
    level1Slide1:
        width: 1920
        height: 1080
        file: /home/wicky567/PinballWW2_Master/Machine/modes/level1/videos/level1_slide1.mp4
    level1Slide2:
        width: 1920
        height: 1080
        file: /home/wicky567/PinballWW2_Master/Machine/modes/level1/videos/level1_slide2.mp4

event_player:
    mode_level1_started:
        - l1_scoreReq_Begin
    player_score{current_player.score>=100000 and current_player.is_dive == 0}: 
        - l1_scoreReq_Complete
        - dive_callout_Begin
    s_dive_hold_active{current_player.score>=100000 and current_player.is_mb == 0 and current_player.is_rr == 0}:
        - dive_callout_Done
    dive_callout_Done:
        - dive_callout_Ended
    dive_detection_done:
        - dive_mode_Begin
    dive_mode_Complete:
        - mb_Begin
        - mb_time_start
    mb_Complete:
        - level1_Complete
        - score_check

widgets:
    ball_1_UI:
        - type: image
          image: ball_1
          z: 999
    ball_2_UI:
        - type: image
          image: ball_2
          z: 999
    ball_3_UI:
        - type: image
          image: ball_3
          z: 999

widget_player:
    slide_locationSlide_created{current_player.ball==1}:
        ball_1_UI:
            slide: locationSlide
    slide_locationSlide_created{current_player.ball==2}:
        ball_2_UI:
            slide: locationSlide
    slide_locationSlide_created{current_player.ball==3}:
        ball_3_UI:
            slide: locationSlide
    slide_slide1_created{current_player.ball==1}:
        ball_1_UI:
            slide: slide1
    slide_slide1_created{current_player.ball==2}:
        ball_2_UI:
            slide: slide1
    slide_slide1_created{current_player.ball==3}:
        ball_3_UI:
            slide: slide1
    slide_slide2_created{current_player.ball==1}:
        ball_1_UI:
            slide: slide2
    slide_slide2_created{current_player.ball==2}:
        ball_2_UI:
            slide: slide2
    slide_slide2_created{current_player.ball==3}:
        ball_3_UI:
            slide: slide2
          


variable_player:
    mode_level1_started:
        level:
            action: set
            int: 1
        mb_time:
            action: set
            int: 30
        mb_curTime:
            action: set
            int: 30
        torpedos_goal:
            action: set
            int: 2
    l1_scoreReq_Begin:
        cur_info:
            action: set
            string: "SCORE\n100K POINTS\nTO ADVANCE!"
    dive_callout_Begin:
        cur_info:
            action: set
            string: "GO\nDIVE\nSOLDIER!"
    dive_mode_Begin:
        dive_lvl:
            action: set
            int: 1
        is_dive:
            action: set
            int: 1
    mode_multiball_started:
        is_mb:
            action: set
            int: 1